#controls {
    padding: 5px;
    border: 1px solid grey;
    float: left;
    height: 660px;
    width: 200px;
    margin-right: 10px;
    font: 14px sans-serif; 
}
#visualization {
    padding: 5px;
    border: 1px solid grey;
    float: left;
    width: 1000px;
    height: 520px;
}


.controlLabel {
    font-weight: bold;
}

#barChart .chart {
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

  #barChart .axis path, #barChart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  #barChart .bar {
    fill: steelblue;
  }

  #multiSeriesLineChart { 
      font: 10px sans-serif; 
  }
  #multiSeriesLineChart .axis path,
  #multiSeriesLineChart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  #multiSeriesLineChart .x.axis path {
    display: none;
  }

  #multiSeriesLineChart .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  #stackedAreaChart { 
      font: 10px sans-serif; 
  }
  
  #stackedAreaChart .axis path,
  #stackedAreaChart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  #stackedAreaChart .browser text {
    text-anchor: end;
  }
#forcedDirectedGraph {
  font: 10px sans-serif;
}
#forcedDirectedGraph .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

#forcedDirectedGraph .link {
  stroke: #999;
  stroke-opacity: .6;
}

line.arrow {
    /*stroke: #fc8d59;*/
    stroke: #666;
    stroke-width: 4px;
} 
.branchConnector, .tagConnector {
    stroke: #666;
    stroke-width: 1px;
}

marker#branchArrow {
    /*fill: #fc8d59;*/
    fill: #666;
}
marker#tagArrow {
    fill: #666;
}

.link-label {
    font-family: sans-serif;
    font-size: 11px;
}